%html
	%head
		= javascript_include_tag "home"
#main.center
	#quote.hidden
		This is my quote, but I haven't chosen one yet
	
	#quote_definition.hidden
		bblalbal epeapeksok oifesoifjseoi jofei joefi jeof ieof o
