/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#main {
	width: 400px;
	height: 500px;
	border:1px solid;
	border-color: #994015;
	border-radius:35px;
	-moz-border-radius:35px; /* Old Firefox */
		
	background-color: #f4f5f5;
	padding: 35px;
}

.center {
	position: fixed;
	left: 40%;
	margin-top: 20px;
	margin-left: -100px;
}

.hidden {
	display: none;
	position: absolute;
}



#quote {
	top: 190px;
	right: 55px;
}

#quote_definition {
	top: 290px;
	left: 200px;

	width: 180px;

}
